.navbar-brand {
  font-family: 'Peralta', cursive;
}

.breadcrumb-item {
  font-family: 'Peralta', cursive;
}

.breadcrumb {
  font-family: 'Peralta', cursive;

}

.searchfield {
  font-family: 'Peralta', cursive;
}
